<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="contactsModalLabel">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {% if socials.count < 1 %}
        <p>Sorry, no contacts for now &#128546;</p>
        {% else %}
            {% for social in socials %}
                <ul>
                    <h5>
                        <i class="{{ social.social_fa }}"></i> <a href={{ social.social_url }}>{{ social.social_name }}</a>
                    </h5>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>
</div>
