<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="contactsModalLabel">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {% if socials.count < 1 %}
        <p>Sorry, no contacts for now &#128546;</p>
        {% else %}
            {% for social in socials %}
                <ul>{{ social.social_url }}</ul>
            {% endfor %}
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>
</div>
